[data-theme=light] {
  --bg: #eeeeee;
  --font-color: #33363b;
}

[data-theme=dark] {
  --bg: #33363b;
  --font-color: #eeeeee;
}
[data-theme=dark] img:not([src*=".svg"]) {
  filter: brightness(0.8) contrast(1.2);
}

.no-js .theme-switch {
  display: none;
}

.no-js {
  visibility: invisible;
  opacity: 0;
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  color: var(--font-color);
  transition: all 0.25s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.theme-switch {
  margin-top: 10px;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
  user-select: none;
  display: block;
}
.theme-switch .clr {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: none;
}
.theme-switch .activeThemeIcon {
  display: block;
}
.theme-switch .animateThemeIcon {
  animation: switchThemeIcon 0.25s ease-in-out;
  transform-origin: center center;
  animation-iteration-count: 1;
}
@keyframes switchThemeIcon {
  30% {
    transform: translateY(0.3em) scale(0.5);
    opacity: 0;
  }
  0%, 100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
.theme-switch #SVGThemeSwitch {
  font-size: 5rem;
  color: var(--font-color);
}

body {
  font-family: Poppins, sans-serif;
}
body .container {
  margin: auto;
  width: 100%;
  max-width: 1100px;
  overflow: auto;
}
body .container header {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
body .container header .head {
  flex: 1;
  font-family: "PT Serif", serif;
}
body .container header .content {
  flex: 1;
}
body .container header .content h3 {
  font-family: "Poppins", sans-serif;
}
body .container header .content p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
body .container .team {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5%;
}
body .container .team :nth-child(3n+2) {
  margin-top: 70px;
}
body .container .team .inner {
  display: flex;
  justify-content: flex-start;
}
body .container .team .inner .job {
  margin-left: -8px;
  font-family: "PT Serif", serif;
  font-family: var(--main-heading);
  line-height: 13px;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
}
body .container .team .inner .box {
  width: inherit;
}
body .container .team .inner .box img {
  width: 90%;
  height: 40vh;
  border-radius: 8px;
}
body .container .team .inner .box .name {
  margin-top: 3px;
  font-weight: bold;
  font-size: 14px;
}
body .container .team .inner .job {
  text-transform: uppercase;
  transform-origin: 0 0;
  transform: rotate(90deg);
  margin-top: 2px;
}

@media (max-width: 500px) {
  .container {
    width: 400px;
    box-sizing: border-box;
  }
  .container header {
    margin: 0 auto !important;
    max-width: 90%;
    flex-direction: column;
  }
  .container header h1 {
    font-size: 36px;
    font-weight: bold;
  }
  .container header .content p {
    font-size: 14px !important;
  }
  .container .team {
    max-width: 90%;
    grid-template-columns: 200px 200px !important;
    grid-template-rows: 250px 250px !important;
    gap: 20px;
  }
  .container .team :nth-child(2n) {
    margin-top: 52px;
  }
  .container .team :nth-of-type(6) {
    margin-top: 100px;
  }
  .container .team .inner .box {
    width: inherit;
    margin-right: 13px;
  }
  .container .team .inner .box img {
    width: 130px !important;
    height: 30vh !important;
  }
  .container .team .inner .job {
    margin-left: 7px !important;
  }
}

/*# sourceMappingURL=style.css.map */
